$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1920px;

$font-header: "Sueca Slab";
$font-size-header-small: 18px;
$font-size-header-medium: 20px;
$font-size-header-big: 32px;

$line-height-header-small: 28px;
$line-height-header-medium: 32px;
$line-height-header-big: 40px;

$font-subhead: "Arial";
$font-size-subhead: 16px;
$line-height-subhead: 24px;

$color-volanta: #0074c4;
