@import "./media-queries";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: $background-color;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    padding: 64px 0;
}
