@import "../../sass/media-queries";
@import "../../sass/variables";

.modulo {
    &_titulo {
        font-family: $font-header;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        margin: 16px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 8px;
    }
    &_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        max-width: 737px;
    }
}
@include tablet {
    .modulo {
        &_titulo {
            font-family: $font-header;
            font-style: normal;
            font-weight: normal;
            margin: 8px 0;
        }
        @import "./Estilos/notas_2.scss";
        @import "./Estilos/focal_derecho.scss";
    }
}
@include desktop {
    .modulo {
        margin-right: 340px;

        &_titulo {
            font-family: $font-header;
            font-style: normal;
            font-weight: normal;
        }
        &_main {
            gap: 40;
            max-width: 920px;
        }
        @import "./Estilos/notas_2.scss";
        @import "./Estilos/focal_derecho.scss";
    }
}
