@import "../../sass/media-queries";
@import "../../sass/variables";

.modulo {
    &_titulo {
        font-family: $font-header;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        margin: 16px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 8px;
    }
    &_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        max-width: 767px;
    }
    @import "./Estilos/notas_2.scss";
    @import "./Estilos/notas_3.scss";
    @import "./Estilos/focal_derecho.scss";
}
