&.autor {
    border: 1px solid $border-color;

    text-align: center;
    align-items: center;
    padding: 16px 12px;
    margin: 16px 16px;
    width: cal(100% - 2 * 16);

    .imagenAutor {
        &_style {
            padding: 8px;
            $width: 80px;
            width: $width;
            border-radius: 50%;
        }
    }
    .marquesina_styles {
        padding-left: 0px;
    }
}
