.focal_derecho {
    @include tablet {
        $gap: 16px;
        $width-parte-izquierda: 235px;
        $width-parte-derecha: 469px;

        display: grid;
        grid-template-columns: $width-parte-izquierda $width-parte-derecha + $gap;
        gap: $gap;
        border-bottom: 1px solid $border-color;
        padding-bottom: 32px;
        .article_container {
            .titulo_styles {
                font-weight: bold;
                font-size: 24px;
            }
        }
        .parte_izquierda {
            padding-right: $gap;
            gap: $gap;
            .article_container {
                height: 392px;
                width: $width-parte-izquierda;
            }
        }
        .parte_derecha {
            border-left: 1px solid $border-color;
            padding-left: $gap;
            .article_container {
                display: flex;
                flex-direction: column;
                width: $width-parte-derecha;
                .imagen {
                    order: 0;
                    &_style {
                        min-height: 263.82px;
                        order: 0;
                    }
                }
            }
        }
    }
    @include desktop {
        $gap: 40px;
        $width-parte-izquierda: 280px;
        $width-parte-derecha: 560px;

        grid-template-columns: $width-parte-izquierda $width-parte-derecha + $gap;
        width: 920px;
        align-items: start;
        .parte_izquierda {
            .article_container {
                font-size: $font-size-header-big;
                line-height: $line-height-header-medium;
                width: $width-parte-izquierda;
            }
        }
        .parte_derecha {
            padding-left: $gap;
            .article_container {
                width: $width-parte-derecha;
                line-height: $line-height-header-medium;
                .imagen {
                    &_style {
                        min-height: 373.33px;
                    }
                }
            }
        }
    }
}
