.notas_2 {
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .article_container {
            min-height: 368px;
            align-items: center;
            .imagen_style {
                height: 240px;
            }
        }
    }
    @include desktop {
        .article_container {
            min-height: 421.33px;
            .imagen_style {
                min-height: 293.33px;
            }
        }
    }
}
